@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

* {
    margin: 0;
    font-family: 'Merienda One', cursive;
}

body {
    color: white;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPklEQVQoU2NkYGAwZmBgOMsAASD2cwYGhmcwPiOUIcXAwCCJpBDOhynA0AkzCaQA2QoMk0AKQIJwO+nvBmMAk2YWvDhYBRoAAAAASUVORK5CYII=);
    background-color: #6e472c;
}

.phase-container {
}

.title-container {
    padding-top: 3%;
    padding-bottom: 3%;

    text-align: center;
}

.title {
    font-family: 'Merienda One', serif;
    font-size: 3em;

    color: #ffd324;
    text-shadow: -2px -2px 2px black;
}

.secondary-btn {
    background-color: #6e472c;
    color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
}

.secondary-btn:hover {
    cursor: pointer;
    background-color: #7e5330;
}

.secondary-btn[disabled] {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
    background-color: #7e5330;
}

.info-btn {
    background-color: #faf8f0;
    color: black;
    border: none;
    outline: none;
}

.info-btn:hover {
    cursor: pointer;
    background-color: white;
}

input[type=text] {
    background-color: #6e472c;
    border: none;
    border-radius: 2px;
    padding: 12px 6px;
    outline: none;
}

.btn {
    font-size: 14px;
    border-radius: 2px;
    padding: 16px 24px;
}

.btn::-moz-focus-inner {
    border: none;
    outline: none;
}

.btn-sm {
    font-size: 10px;
    padding: 8px 10px;
}

.primary-btn {
    color: rgba(0, 0, 0, 1);
    background-color: #ffd324;
    border: none;
    outline: none;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: #ffe666;
}

.primary-btn[disabled] {
    cursor: default;
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffe666;
}

.text-primary {
    color: #ffd324;
}

.text-success {
    color: #B2FF59;
}

.text-info {
    color: #EEEEEE;
}

.text-error {
    color: red;
    text-shadow: 1px 1px 5px black;
}

@media screen and (max-height: 890px) {
    .footer {
        position: static;
    }
}

@media screen and (min-height: 890px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}

.footer, .game-footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
